:root{
    --VERDE:#007e7a;
    --VERDECIANO:#04b6a8;
    --cinza:#808080;
    --branco:#fff;
    --preto:rgb(10, 10, 10);
    --cinzaclaro:#F8F8FF;
    --cinzaescuro:#e4e4e4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body , main{
    background-color: var(--branco);
}


li a{
    margin: 15px;
}

.navbar-light, .navbar-nav, .nav-link {
    color: #007e7a;
}

.ativo:hover{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: var(--VERDECIANO);
    color: var(--branco);
}


div .card{
    padding: 5px;
    margin: 10px;
    align-items: center;
    border-radius: 60px 0px 0px 0px;
    border: solid 1px var(--VERDECIANO);
    box-shadow: 10px 10px var(--cinzaescuro);

}

.btn-div{
    margin-bottom: 5px;
}

.row {
   justify-items: center;
   justify-content: center;

}
  
  .card-principal{
      background-color: var(--VERDECIANO);
  }

.textocor{
    color: var(--VERDECIANO);
}

.paragrafo{
    color: var(--cinza);
}

p {
    color: var(--cinzaclaro);
    font-family: 'Arvo', serif;
}


.textprincipal{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 30px;
}

.textprincipal p {
    padding-left: 5%;
}