{% extends 'base.html'%}
 {% load static %} 
{% block 'head'%} 
Pagina Principal 
{%endblock %} 
{% block 'body'%}
<main>
  <div class="img-principal text-center">
    <div class="container-fluid principal">
      <div class="textocor">
      <h3>Faça aqui seu CNPJ MEI</h3>
    </div>
      <p>
        Contrate a Assessoria e Registre agora seu CNPJ MEI. Aproveite as
        vantagens de ser um Microempreendedor Individual.
      </p>
      <img
        src="{% static '/img/JPEG/JPEG2.jpg' %}"
        width="30%"
        height="500px"
        alt=""
      />
    </div>
    <br />
    <br />
    <div class="text-center">
      <p>
        <div class="textocor">
        LEIA COM ATENÇÃO ESTE NÃO É UM SITE GOVERNAMENTAL
      </div>
      </p>
    </div>
    <section id="menu-itens">
      <div class="row">
        <div class="container text-center">
          <div class="row">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <div class="textocor">
                  <h5 class="card-title">As Vantagens De Cadastrar Seu CNPJ MEI</h5>
                </div>
                <div class="text-center">
                <p class="card-text">
                 <strong>Negócio Legal</strong>
                 <br>
                  Você terá uma empresa com CNPJ MEI cumprindo todas as obrigações legais por um baixo custo mensal.
                </p>
                <br>
                <div class="textocor">
                  <strong>Benefícios do INSS</strong>
                </div>
                <br>
                <p>
                  Basta pagar seu MEI para garantir auxílio doença, salário-maternidade e aposentadoria por idade. 
                </p>
                <div class="textocor">
                  <strong>Empréstimo Facilitado</strong>
                </div>
                <p>
                  Com um CNPJ MEI, você tem crédito facilitado nos maiores Bancos
                </p>
                <div class="textocor">
                  <strong>Assessoria Personalizada</strong>
                </div>
                <p>
                  Contratando nossa assessoria você terá acesso ao CNPJ MEI de forma rápida e eficiente
                </p>
              </div>
                <a
                  href="{%url 'cadastro'%}"
                  class="btn btn-success"
                  >Mais informaçoes</a
                >
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Altere o cadastro do seu CNPJ MEI</h5>
                <div class="text-center">
                  <p class="card-text">
                   <strong>Negócio Legal</strong>
                   <br>
                    Você terá uma empresa com CNPJ MEI cumprindo todas as obrigações legais por um baixo custo mensal.
                  </p>
                  <br>
                  <strong>Benefícios do INSS</strong>
                  <br>
                  <p>
                    Basta pagar seu MEI para garantir auxílio doença, salário-maternidade e aposentadoria por idade. 
                  </p>
                  <strong>Empréstimo Facilitado</strong>
                  <p>
                    Com um CNPJ MEI, você tem crédito facilitado nos maiores Bancos
                  </p>
                  <strong>Assessoria Personalizada</strong>
                  <p>
                    Contratando nossa assessoria você terá acesso ao CNPJ MEI de forma rápida e eficiente
                  </p>
                </div>
                <a
                  href="{%url 'alterar'%}"
                  class="btn btn-success"
                  >Mais informaçoes</a>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Dê Baixa no seu CNPJ MEI em poucos minutos</h5>
                <div class="text-center">
                  <p class="card-text">
                   <strong>Cancelar CNPJ MEI</strong>
                   <br>
                   Encerre suas atividades MEI agora mesmo sem complicação.
                  </p>
                  <br>
                  <strong>Faça o encerramento formal de seu MEI</strong>
                  <br>
                  <p>
                    Dê baixa em seu CNPJ MEI corretamente e evite pendências futuras.
                  </p>
                  <strong>Dê baixa mesmo com débitos</strong>
                  <p>
                    Possui débitos em aberto e deseja dar baixa em seu CNPJ MEI? Faça o processo completo aqui
                  </p>
                  <strong>Assessoria Personalizada</strong>
                  <p>
                    Contratando nossa assessoria você terá acesso ao CNPJ MEI de forma rápida e eficiente
                  </p>
                </div>
                <a
                  href="{%url 'cancelar'%}"
                  class="btn btn-success"
                  >Mais informaçoes</a
                >
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    </section>
  </div>
</main>
{% endblock %}
