{% extends 'base.html'%}
 {% load static %}
{% block 'head'%} 
Pagina Principal 
{%endblock %} 
{% block 'body'%}
<main>
  <div class="img-principal">
    <div class="row card-principal">
      <div class="col-md-6 textprincipal">
          <p class="text-center">Contrate a Assessoria e Registre agora seu CNPJ MEI. Aproveite as
            vantagens de ser um Microempreendedor Individual.
          <br>
          <br>
          <a href="{%url 'cadastro'%}"
                  class="btn btn-success"
                  >Faça aqui seu CNPJ MEI</a>
          </p>
      </div>
      <div class="col-md-6">
        <div class="text-center img">
        <img src="{% static '/img/kav-desktop.png' %}" width="100%" alt="...">
      </div>
      </div>
    </div>
    <div class="text-center"> 
    </div>
    <section id="menu-itens">
      <div class="row text-center">
        <div class="container text-center">
          <div class="row">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <div class="textocor">
                  <h5 class="card-title">As Vantagens De Cadastrar Seu CNPJ MEI</h5>
                </div>
                <div class="text-center">
                <p class="card-text paragrafo">
                 <br>
                  Você terá uma empresa com CNPJ MEI cumprindo todas as obrigações legais por um baixo custo mensal.
                </p>
                <br>
                <div class="textocor">
                  <strong>Benefícios do INSS</strong>
                </div>
                <br>
                <p class="paragrafo">
                  Basta pagar seu MEI para garantir auxílio doença, salário-maternidade e aposentadoria por idade. 
                </p>
                <div class="textocor">
                  <strong>Empréstimo Facilitado</strong>
                </div>
                <p class="paragrafo">
                  Com um CNPJ MEI, você tem crédito facilitado nos maiores Bancos
                </p>
                <div class="textocor">
                  <strong>Assessoria Personalizada</strong>
                </div>
                <p class="paragrafo">
                  Contratando nossa assessoria você terá acesso ao CNPJ MEI de forma rápida e eficiente
                </p>
              </div>
              <div class="d-flex justify-content-center btn-div">
                <a
                  href="{%url 'cadastro'%}"
                  class="btn btn-success"
                  >Mais informaçoes</a
                >
              </div>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title textocor">Altere o cadastro do seu CNPJ MEI</h5>
                <div class="text-center">
                  <p class="card-text paragrafo">
                   
                   <br>
                    Você terá uma empresa com CNPJ MEI cumprindo todas as obrigações legais por um baixo custo mensal.
                  </p>
                  <br>
                  <div class="textocor">
                    <strong>Benefícios do INSS</strong>
                  </div>
                  <br>
                  <p class="paragrafo">
                    Basta pagar seu MEI para garantir auxílio doença, salário-maternidade e aposentadoria por idade. 
                  </p>
                  <strong class="textocor">Empréstimo Facilitado</strong>
                  <p class="paragrafo">
                    Com um CNPJ MEI, você tem crédito facilitado nos maiores Bancos
                  </p>
                  <strong class="textocor">Assessoria Personalizada</strong>
                  <p class="paragrafo">
                    Contratando nossa assessoria você terá acesso ao CNPJ MEI de forma rápida e eficiente
                  </p>
                </div>
                <dvi class="d-flex justify-content-center btn-div">
                <a
                  href="{%url 'alterar'%}"
                  class="btn btn-success"
                  >Mais informaçoes</a>
                </dvi>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title textocor">Dê Baixa no seu CNPJ MEI em poucos minutos</h5>
                <div class="text-center">
                  <p class="card-text paragrafo">
                   <br>
                   Encerre suas atividades MEI agora mesmo sem complicação.
                  </p>
                  <br>
                  <div class="textocor">
                    <strong class="textocor">Faça o encerramento formal de seu MEI</strong>
                  </div>
                  <br>
                  <p class="paragrafo">
                    Dê baixa em seu CNPJ MEI corretamente e evite pendências futuras.
                  </p>
                  <strong class="textocor">Dê baixa mesmo com débitos</strong>
                  <p class="paragrafo">
                    Possui débitos em aberto e deseja dar baixa em seu CNPJ MEI? Faça o processo completo aqui
                  </p>
                  <strong class="textocor">Assessoria Personalizada</strong>
                  <p class="paragrafo">
                    Contratando nossa assessoria você terá acesso ao CNPJ MEI de forma rápida e eficiente
                  </p>
                </div>
                <div class="d-flex justify-content-center btn-div">
                <a
                  href="{%url 'cancelar'%}"
                  class="btn btn-success"
                  >Mais informaçoes</a
                >
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    </section>
  </div>
</main>
{% endblock %}
