{% load static %}
{% block 'body'%}
<html>
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static '/plataforma/checkout.css' %}" >
  </head>
  <body>
    
      <section>
        <div class="text-center">
        <img
        src="{% static '/img/JPEG/JPEG.jpg' %}"
        width="35%"
        height="30%"
        alt=""
      />
        <div class="product">
          <div class="description">
            <h1>{{pedido.pedido}}</h1>
            <h1>{{pedido.produto}}</h1>
            <h1>{{pedido.valor}}</h1>
          </div>
        </div>
        <form id="payment-form">
          <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
          </div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pague Agora</span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>
      </div>
      </section>
    
    {% csrf_token %}
  </body>
  <script type="text/javascript">
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    
    let elements;



      elements = stripe.elements();

      const paymentElement = elements.create("card");
      paymentElement.mount("#payment-element");

      var form =document.getElementById('payment-form')
      form.addEventListener('submit',function(event){
        setLoading(true)
        event.preventDefault()

        const response = fetch("{% url 'create_payment-intent' pedido.id %}", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        
      })
      .then(function(result){
        return result.json()

      })
      .then(function(data){
            stripe.confirmCardPayment(data.clientSecret,{
              payment_method:{
                card:paymentElement
              }
            })
              .then(function(result){
                setLoading(false)
                if(result.error){
                  showMessage('Ocorreu um erro')
                }else{
                  showMessage('Compra finalizada com sucesso, Verifique seu Email')
                  paymentElement.clear()
                }
              })
      })

      })


    // ------- UI helpers -------

    function showMessage(messageText) {
      const messageContainer = document.querySelector("#payment-message");

      messageContainer.classList.remove("hidden");
      messageContainer.textContent = messageText;

      setTimeout(function () {
        messageContainer.classList.add("hidden");
        messageText.textContent = "";
      }, 4000);
    }

    // Show a spinner on payment submission
    function setLoading(isLoading) {
      if (isLoading) {
        // Disable the button and show a spinner
        document.querySelector("#submit").disabled = true;
        document.querySelector("#spinner").classList.remove("hidden");
        document.querySelector("#button-text").classList.add("hidden");
      } else {
        document.querySelector("#submit").disabled = false;
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");
      }
    }
  </script>
</html>
{% endblock %}
