<script type = "text/javascript" >

    var $jq = jQuery.noConflict()

$jq(document).ready(function() {

    function limpa_formulário_cep() {
        // Limpa valores do formulário de cep.
        $jq("#wpforms-241-field_12").val("");

    }

    //Quando o campo cep perde o foco.
    $jq("#wpforms-241-field_4").blur(function() {

        //Nova variável "cep" somente com dígitos.
        var cpf = $jq(this).val().replace(/D/g, '');

        $jq("#wpforms-241-field_12").val(cpf);

    });
});

</script>